JARVIS_CORS_ORIGINS=http://localhost:5173
JARVIS_WORKSPACE=./workspace
JARVIS_PROVIDER_TIMEOUT=60
JARVIS_MAX_TOOL_ROUNDS=8
JARVIS_MAX_FILE_BYTES=2097152
JARVIS_ALLOW_DESTRUCTIVE_TOOLS=false
JARVIS_ALLOW_LOCAL_PROVIDERS=false
